<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928565515097-mrv42669hafsqlfjp60pv329vsj8p9e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928565515097-mrv42669hafsqlfjp60pv329vsj8p9e6</string>
	<key>API_KEY</key>
	<string>AIzaSyDeRCq88QIMC3eewf_p2dn4ULTFDWVeh6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>928565515097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyrn</string>
	<key>PROJECT_ID</key>
	<string>dailyrn</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyrn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928565515097:ios:7e0000d5c0800151923248</string>
</dict>
</plist>